body {
    background-color: #222222;
}

	.img-thumbnail{
		width: 120px;
    	height: 90px;
		background-color: #5F5F5F;    	
		border:1px solid #021a40;
	}


	.thumbnail-btn{
		border-radius:0;
	}

	.model-thumbnails{
		position:absolute;
		top:500px;
		left:0;
		right:0;

	}