body {
    background-color: #222222;
}

	.img-thumbnail{
		width: 120px;
    	height: 90px;
		background-color: #5F5F5F;    	
		border:1px solid #021a40;
	}


	.thumbnail-btn{
		border-radius:0;
	}

	.model-thumbnails{
		position:absolute;
		top:500px;
		left:0;
		right:0;

	}

	#main-image-text{
		position:absolute;
		width:200px;
		top:80px;
		left:300px;
	}

	.main-image-header{
		font-size: 25px;
	}

	.main-image-body{
		font-size: 12px;
	}
