	body {
    	background: url("../img/header.jpg");	
	    background-color: #222222;
	}

	.img-thumbnail{
		width: 120px;
    	height: 90px;
		background-color: #535353;    	
		border:1px solid #021a40;
	}


	.thumbnail-btn{
		border-radius:0;
	}

	.model-thumbnails{
		position:absolute;
		top:500px;
		left:0;
		right:0;

	}

	.main-image-text{
		position:absolute;
		width:200px;
		top:80px;
		left:300px;
		font-family: "Verdana", Geneva, sans-serif;
	}

	.main-image-header{
		font-size: 26px;
		height:24px;
	}

	.main-image-body{
		font-size: 12px;
	}

	#build-car-button{
		position: absolute;
		left:300px;
		top:170px;
		font-size:12px;
		background-color: #6E6D6E;
		border: solid 1px #030202;
	}
	#build-car-button:hover, #build-car-button:focus {
	    background: #434343;
	    border: solid 1px #030202;
	    text-decoration: none;
	}

	#build-car-button:active {
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background: #6E6D6E;
	    border: solid 1px #030202;
	}

	#car-selector{
		padding-left:0px;
		padding-right: 0px;
	}

	.selector-topbar{
		position:absolute;
    	list-style-type: none;
    	overflow: hidden;
	  	background: linear-gradient(to right, #131313 , #898888); /* Standard syntax */
  		height:40px;
  		left:0px;
  		right:0px;
  		top: 75px;
	}

	.selector-topbar-elements{
		display:inline-block;
		padding-top:9px;
		font-family: "Verdana", Geneva, sans-serif;
		font-weight: bold;
		font-size:16px;	
	}
	#text-interior{
		float:right;
		padding-right: 80px;
	}
	#text-exterior{
		float:left;
		padding-left: 80px;
	}



	.color-picker{
		width:45px;
		height:45px;
		border-radius:0;
	}

	#interior-color-1{
		position:absolute;
		top:130px;
		left:1225px;
		color:#000000;
		background: url("../img/Interior-Color-Pickers/black.jpg");
		background-size: 100%;
	}
	#interior-color-1:active{
		position:absolute;
		top:130px;
		left:1225px;
		color:#000000;
		background: url("../img/Interior-Color-Pickers/black.jpg");
		background-size: 100%;
	}


	#interior-color-2{
		position:absolute;
		top:190px;
		left:1225px;
		color:#000000;
		background: url("../img/Interior-Color-Pickers/brown.jpg");
		background-size: 100%;
	}
	#interior-color-3{
		position:absolute;
		top:250px;	
		left:1225px;
		color:#000000;
		background: url("../img/Interior-Color-Pickers/red.jpg");
		background-size: 100%;
	}
	#interior-color-4{
		position:absolute;
		top:310px;
		left:1225px;
		color:#000000;
		background: url("../img/Interior-Color-Pickers/white.jpg");
		background-size: 100%;
	}

	#exterior-color-1{
		position:absolute;
		top:130px;
		left:105px;
		color:#000000;
		background: url("../img/Exterior-Color-Pickers/white-color-picker.jpg");
		background-size: 100%;
	}
	#exterior-color-2{
		position:absolute;
		top:190px;
		left:105px;
		color:#000000;
		background: url("../img/Exterior-Color-Pickers/grey-color-picker.jpg");
		background-size: 100%;
	}
	#exterior-color-3{
		position:absolute;
		top:250px;	
		left:105px;
		color:#000000;
		background: url("../img/Exterior-Color-Pickers/red-color-picker.jpg");
		background-size: 100%;
	}
	#exterior-color-4{
		position:absolute;
		top:310px;
		left:105px;
		color:#000000;
		background: url("../img/Exterior-Color-Pickers/dark-blue-color-picker.jpg");
		background-size: 100%;
	}
	#exterior-color-5{
		position:absolute;
		top:370px;
		left:105px;
		color:#000000;
		background: url("../img/Exterior-Color-Pickers/blue-color-picker.jpg");
		background-size: 100%;
	}

	.model-thumbnail{
		max-width:100%;
		max-height: 100%;
		width: 100px;
		height: 40px;
	}
	.customize-main-image{
		position:absolute;
		top:130px;
		left:220px;
	}

	.exterior-thumbnail-1{
		position:absolute;
		top:440px;
		left:310px;
	}
	.exterior-thumbnail-2{
		position:absolute;
		top:440px;
		left:410px;
	}
	.exterior-thumbnail-3{
		position:absolute;
		top:440px;
		left:510px;
	}
	.exterior-thumbnail-4{
		position:absolute;
		top:440px;
		left:610px;
	}
	.exterior-thumbnail-5{
		position:absolute;
		top:440px;
		left:710px;
	}
	.interior-thumbnail-1{
		position:absolute;
		top:440px;
		left:810px;
	}
	.interior-thumbnail-2{
		position:absolute;
		top:440px;
		left:910px;
	}

	#next-button{
		position: absolute;
		left:1210px;
		top:450px;
		font-size:16px;
		width:70px;
		background-color: #6E6D6E;
		border: solid 1px #030202;
	}
	#next-button:hover, #next-button:focus {
	    background: #434343;
	    border: solid 1px #030202;
	    text-decoration: none;
	}

	#next-button:active {
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background: #6E6D6E;
	    border: solid 1px #030202;
	}

	#back-button{
		position: absolute;
		left:100px;
		top:450px;
		font-size:16px;
		width:70px;
		background-color: #6E6D6E;
		border: solid 1px #030202;
	}
	#back-button:hover, #back-button:focus {
	    background: #434343;
	    border: solid 1px #030202;
	    text-decoration: none;
	}

	#back-button:active {
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background: #6E6D6E;
	    border: solid 1px #030202;
	}
